body {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: "Raleway", sans-serif;
  background-image: url("./images/bg-desktop.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-color: hsl(229, 57%, 11%);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  display: inline-block;
  border-radius: 10px;
  background-color: hsl(229, 57%, 11%);
  padding: 15px;
  margin-right: 15px;
}

ul li img {
  width: 25px;
  height: 25px;
}

.container {
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main {
  color: white;
}

.card {
  border-radius: 10px 100px 10px 10px;
  background-color: hsl(228, 56%, 26%);
  width: 350px;
  height: 150px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: center;
  padding: 50px;
}

.card-info {
  border-radius: 10px 10px 10px 10px;
  background-color: hsl(228, 56%, 26%);
  width: 350px;
  height: 150px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  position: relative;
}

.logo {
  margin-bottom: 30px;
}

@media (max-width: 375px) {
  body {
    background-image: url("./images//bg-mobile.svg");
  }
}

.msg {
  color: hsl(243, 100%, 93%);
}

.msg span {
  font-weight: bold;
  color: hsl(243, 100%, 93%);
}

.status-background {
  background-color: hsl(229, 57%, 11%);
  border: 4px solid hsl(229, 57%, 11%);
  border-radius: 30px;
  width: 100%;
  height: 20px;
}

.status {
  background: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
  height: 20px;
  width: 81%;
  border-radius: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.status span {
  border-radius: 50%;
  background-color: white;
  display: inline-block;
  height: 14px;
  width: 15px;
  margin-right: 3px;
}

.storage {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
}

.storage span {
  font-weight: bold;
  color: hsl(243, 100%, 93%);
}

.left-storage {
  position: absolute;
  bottom: 0px;
}
